<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <springProperty name="APP-NAME" source="spring.application.name" defaultValue="-"/>
    <springProperty name="APP-ENV" source="spring.application.environment" defaultValue="-"/>
    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="!dev">
        <logger name="no.digdir" level="INFO" additivity="false">
            <appender-ref ref="APPLICATION"/>
        </logger>

        <root level="WARN"> <!-- TEK BERRE MED WARN+ FOR 3.PARTS LIB. -->
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <appender name="APPLICATION" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdc>true</includeMdc>
            <customFields>{"application":"${APP-NAME}","environment":"${APP-ENV}","logtype":"application"}</customFields>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdc>true</includeMdc>
            <customFields>{"application":"${APP-NAME}","environment":"${APP-ENV}","logtype":"application"}</customFields>
        </encoder>
    </appender>
</configuration>