# This workflow will build a Java Spring-boot project with Maven
# See: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven
# and https://github.com/felleslosninger/eid-github-workflows/blob/main/.github/workflows/maven-build.yml

name: Testing maven build by calling reusable workflow

on:
  pull_request:
    branches: [ main ]

jobs:
  call-workflow-maven-build:
    uses: felleslosninger/eid-github-workflows/.github/workflows/maven-build.yml@main
    with:
      java-version: 17
    secrets: inherit
  # call-container-scan:
  #   uses: felleslosninger/github-workflows-internal/.github/workflows/spring-boot-container-scan.yml@main
  #   with:
  #     java-version: 17
  #   secrets: inherit